{% extends "base.html" %}
{% block body %}
    <div class="page-header">
        <h1>Contacts</h1> <a href="/contacts.html?id=new">Insert Contact</a>
    </div>
    <div class="bs-example" data-example-id="simple-table"> 
        <table class="table" id="contacts-table"> 
            <thead> 
                <tr> 
                    <th>First Name</th> 
                    <th>Last Name</th> 
                    <th>Email</th> 
                    <th>Phone</th> 
                    <th>Edit</th>
                    <th>Delete</th>
                </tr> 
            </thead> 
            <tbody id="contacts-table-body">
                {% for contact in contacts %} 
                    <tr> 
                        <td scope="row">{{ contact.first_name }}</td>
                        <td>{{ contact.last_name }}</td>
                        <td>{{ contact.email }}</td>
                        <td>{{ contact.phone_number }}</td>
                        <td><a href="/contacts.html?id={{contact.id}}">Edit</a></td>
                        <td><a class="contact-delete" id="{{contact.id}}" href="#">Delete</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}